@import '../../node_modules/bulma/sass/utilities/_all'
@import '../../node_modules/bulma/sass/base/_all'
@import '../../node_modules/bulma/sass/grid/columns'
@import '../../node_modules/bulma/sass/elements/container'
@import '../../node_modules/bulma/sass/elements/form'
@import '../../node_modules/bulma/sass/elements/icon'

// Colors
$black: rgba(7, 30, 34, 1)
$white: rgba(255, 255, 255, 1)
//$primary: rgba(38, 196, 133, 1)
$primary: #628E6D
$primaryDimmed: rgba(103, 146, 137, 1)
$error: rgba(244,67,54,1)
//$primary: red

// Fonts
$family-sans: 'Nunito Sans', sans-serif

// Shadows
$shadow-1: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
$shadow-2: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3)
$shadow-3: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2)
$shadow-4: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2)
$shadow-5: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2)

// Template Specific Vars
$hero-height: 100vh
$container-width: 991px
$destination-image-base-height: 150px
$destination-image-active-height: 320px
$destination-image-mobile-base-height: 100px
$destination-image-mobile-active-height: 215px
$destination-image-small-base-height: 80px
$destination-image-small-active-height: 172px
$footer-height: 650px


// Overrides
$input-focus: $primary